{% extends "store_base.html" %}

{% block title %}フォロワー一覧画面{% endblock %}

{% block content %}
<h2>フォロワー一覧画面</h2>

<a href="{% url 'accounts:store_logout' %}">ログアウト</a>
<a href="{% url 'accounts:store_account_edit' %}">店舗アカウント情報変更</a>
<a href="{% url 'stores:store_basic_edit' %}">店舗基本情報変更</a>
<a href="{% url 'stores:reservation_calendar' %}">予約カレンダー</a>
<a href="{% url 'stores:reservation_ledger' %}">予約内容を見る</a><!-- 予約台帳画面に飛ぶ-->
<a href="{% url 'stores:store_review_list' %}">店舗口コミ一覧</a>


{% endblock %}
