{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ログアウト完了</title>
  <link rel="stylesheet" href="{% static 'css/customer_login.css' %}">
</head>
<body>

{% include 'customer_header.html' %}

<div class="logout-wrapper">
  <div class="logout-box">
    <h2>ログアウトが完了しました</h2>

    <p class="logout-message">
      ご利用ありがとうございました。<br>
      またのご利用をお待ちしております。
    </p>

    <a href="{% url 'accounts:customer_top' %}" class="btn-top">
      トップ画面に戻る
    </a>
  </div>
</div>

</body>
{% include 'customer_footer.html' %}
</html>
