{% extends "customer_base.html" %}
{% load static %}

{% block title %}ログアウト完了{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/customer_login.css' %}">
{% endblock %}

{% block content %}
<div class="logout-wrapper">
  <div class="logout-box">
    <h2>ログアウトが完了しました</h2>

    <p class="logout-message">
      ご利用ありがとうございました。<br>
      またのご利用をお待ちしております。
    </p>

    <a href="{% url 'accounts:customer_login' %}" class="btn-top">
      ログイン画面に戻る
    </a>
  </div>
</div>
{% endblock %}
