{% extends "store_base.html" %}

{% block title %}リンク期限切れ | タベッチ店舗{% endblock %}

{% block content %}
<div style="margin:40px 0; display:flex; justify-content:center;">
  <div style="width:460px; background:#fff; padding:32px; border-radius:10px; text-align:center;">
    <h2>リンクの有効期限切れ</h2>
    <p style="color:#555; line-height:1.6;">
      このパスワード再設定リンクは有効期限が切れています。<br>
      お手数ですが、再度パスワード再設定を行ってください。
    </p>
    <a href="{% url 'accounts:store_password_reset' %}" class="btn-submit">
      再設定メールを送る
    </a>
  </div>
</div>
{% endblock %}
